img {
    height: 500px;
    position: relative;
    top: 0px;
}

div {
    margin-top: 1000px;
    height: 500px;
    width: 100vw;
    overflow: hidden;
}

@keyframes animImage {
    from {
        top: 500px;
    } to {
        top: 0px;
    }
}